.main{
    margin-top:2%;
    border: solid 1px black;
}
.fotos__container{
    border-bottom: solid 1px black;
}
.fotos__container--nombre{
    margin-bottom:1%;
    font-size: 20px;
}
.fotos__container--precio{
    margin-bottom:1%;
    font-size: 20px;
}
.fotos__container--pagar--button{
    background-color: white;
    margin-top: 4vh;
    width:40%;
    height:10%;
    border: solid 1px;
    font-weight: 900;
}
.fotos__container--delete{
    color: gray;
}

@media (min-width: 1200px) {

   .fotos__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        flex-direction: column;
        height:20vh;
    }
    .header__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }
    .fotos__container--pagar{
        display: flex;
        justify-content: center;

    }
}